[Unit]
Description=Hand_Tats bot

[Service]
Type=simple
WorkingDirectory=/opt/handtats
ExecStart=/opt/handtats/run.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
